{% extends "main/base.html" %}

{% block title %} {{ls.name}} {% endblock %} 


{% block content %}
    <div class="container-fluid p-3">
        <div class="row justify-content-center">
            <div class="col-12 col-md-6 col-lg-4">
                <div class="mb-3">
                    <div id="listview" class="card">

                        <form method="post" action="#">
                            {% csrf_token %}
                            <!-- list card name -->
                            <div class="card-header d-flex justify-content-between align-items-center">
                                <span>{{ls.name}}</span>
                                
                                <!-- save/back button -->
                                <button type="submit" name="save" value="save" class="btn btn-outline-secondary p-1">Go Back</button>

                            </div>

                            <!-- list items display (scrolling list format) -->
                            <div class="card-body">
                                <div class="list-group">

                                        {% for item in ls.item_set.all %}
                                            <div class="d-flex justify-content-between list-group-item border-0 py-1 px-0">

                                                <!-- Check buttons -->
                                                <input type="checkbox" class="btn-check" id="id_{{item.id}}" autocomplete="off" name="c{{item.id}}" value="clicked" {% if item.complete %} checked {% endif %}>
                                                <label class="btn btn-outline-primary" for="id_{{item.id}}"> </label>

                                                <!-- item name -->
                                                <input type="text" class="form-control" value="{{item.text}}">

                                                <!-- Delete buttons -->
                                                <button type="submit" name="delete_{{item.id}}" value="pressed" class="btn btn-danger"> - </button>

                                            </div>
                                        {% endfor %}

                                </div>
                            </div>
                        </form>

                    </div>
                </div>

                <!-- bottom column object -->
                <div class="mb-3">

                    <!-- new item -->
                    <form method="post" action="#">
                        {% csrf_token %}
                        <div class="input-group mb-3">
                            <input type="text" name="new" class="form-control" placeholder="New Item">
                            <button type="submit" name="newItem" value="newItem" class="btn btn-success">+</button>
                        </div>
                    </form>

                </div>

            </div>
        </div>
    </div>



    
{% endblock %}